input{
  width: 30%;
  transform: translate(-35%);
}
.todoadd{
  display: flex;
  padding-left: 50%;
  margin-top: 20px;
}
.itemadd{
  padding-left: 15px;
}
.updateitem{
  display: flex;
  padding-left: 50%;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

.list{
  margin-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
}